<app-bo-header></app-bo-header>

<div id="main-container" class="my-bo-theme">
    <mat-card>
        <mat-card-title><mat-icon color="warn">notifications</mat-icon> Alertes</mat-card-title>
        <mat-card-content>
            <mat-list>
                <mat-list-item><mat-icon color="warn" routerLink="/back-office/activity">assignment_late</mat-icon> Décalaration de temps incomplètes</mat-list-item>
                <mat-list-item><mat-icon color="primary" routerLink="/back-office/invoice">note</mat-icon> Factures non reçues</mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>

    <!-- Some margin to be sure to get the main container bottom visible -->
    <div class="vertical-spacer"></div>
</div>