<mat-card>
    <mat-card-title><mat-icon color="primary">file_upload</mat-icon> Mise à jour depuis un fichier</mat-card-title>
    <mat-card-content>
        <input title="3rd" type="file" (change)="onFileChange($event)" multiple="false" />
        <table class="soredi-table">
            <tr *ngIf="activities.length > 0">
                <th></th>
                <th></th>
                <th>Société - Projet</th>
                <th>0/0,5/1</th>
            </tr>
            <ng-container *ngFor="let row of activities; let i = index;">
                <tr>
                    <th class='{{row[9]}}'>{{row[5]}}</th>
                    <th class='{{row[9]}}'>{{row[4]}}</th>
                    <th class='{{row[9]}}'>{{row[7]}}</th>
                    <th class='{{row[9]}}'>{{row[8]}}</th>
                </tr>
            </ng-container>
        </table>
    </mat-card-content>
</mat-card>
