<header class="my-bo-theme">
    <mat-toolbar color="primary">
        <button mat-icon-button class="menu-button" (click)="sidenav.toggle();">
            <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
        </button>

        <span>Back Office</span>
        <span class="spacer"></span>

        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container {{ isMenuOpen ? 'expanded' : 'shrinked' }}">
        <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav">
        <a mat-button routerLink="/back-office"><mat-icon>dashboard</mat-icon> Tableau de bord</a>
        <a mat-button routerLink="/back-office/bo-time" color="accent"><mat-icon>access_time</mat-icon> Saisie des temps</a>
        <a mat-button routerLink="/back-office/bo-invoice" color="accent"><mat-icon>description</mat-icon> Facturation </a>
        <a mat-button routerLink="/back-office/bo-payment" color="accent"><mat-icon>credit_card</mat-icon> Paiment</a>
        <a mat-button routerLink="/back-office/bo-person" color="accent"><mat-icon>person</mat-icon> Personel</a>
        <a mat-button routerLink="/back-office/bo-ref" color="accent"><mat-icon>table_chart</mat-icon> référentiels</a>
    </mat-sidenav>
  </mat-sidenav-container>
</header>
