<app-inv-header></app-inv-header>

<div id="main-container" class="my-bo-theme">
    <mat-card>
        <mat-card-title><mat-icon color="warn">notifications</mat-icon> Alertes</mat-card-title>
        <mat-card-content>
            <mat-list>
                <mat-list-item><mat-icon color="warn" routerLink="/back-office/activity">assignment_late</mat-icon> Décalaration de temps incomplètes</mat-list-item>
                <mat-list-item><mat-icon color="primary" routerLink="/back-office/invoice">note</mat-icon> Factures non reçues</mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <b class="nav-item nowr btn-dark"> Filtres : </b>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ">
                <!--ng-container *ngIf="currentUser"-->
                    <li class="nav-item nowr"><span class="nav-link" (click)="resetFilters()"><i class="fas fa-file-invoice"></i>Aucun</span></li>
                    <li *ngIf="!tocancel" class="nav-item nowr"><span class="nav-link" (click)="setCancelledFilter()"><i class="fas fa-times unset"></i>Exclure les annulées</span></li>
                    <li *ngIf="tocancel" class="nav-item nowr"><span class="nav-link" (click)="unsetCancelledFilter()"><i class="fas fa-times unset"></i>Inclure les annulées</span></li>
                    <li *ngIf="!topay" class="nav-item nowr"><span class="nav-link" (click)="setToPayFilter()"><i class="fas fa-check set"></i>Reste à payer</span></li>
                    <li *ngIf="topay" class="nav-item nowr"><span class="nav-link" (click)="unsetToPayFilter()"><i class="fas fa-times unset"></i>Reste à payer</span></li>
                    <li *ngIf="!tomatch" class="nav-item nowr"><span class="nav-link" (click)="setToMatchFilter()"><i class="fas fa-check set"></i>A rapprocher</span></li>
                    <li *ngIf="tomatch" class="nav-item nowr"><span class="nav-link" (click)="unsetToMatchFilter()"><i class="fas fa-times unset"></i>A rapprocher</span></li>
                    <li *ngIf="period" class="nav-item nowr"><span class="nav-link" (click)="unsetPeriodFilter()"><i class="fas fa-times unset"></i>{{period}}</span></li>
                    <li *ngIf="file" class="nav-item nowr"><span class="nav-link" (click)="unsetFileFilter()"><i class="fas fa-times unset"></i>{{file}}</span></li>
                    <li *ngIf="frl" class="nav-item nowr"><span class="nav-link" (click)="unsetFrlFilter()"><i class="fas fa-times unset"></i>{{frl}}</span></li>
                <!--/ng-container-->
            </ul>
        </div>
    </nav>
    
    <mat-paginator
        [length]="totalSize"
        [pageSize]="pageSize"
        [pageIndex]="currentPage"
        [pageSizeOptions]="pageSizes"
        showFirstLastButtons
        aria-label="Choisir la page">
    </mat-paginator>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id. </th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="file">
            <th mat-header-cell *matHeaderCellDef> Fichier </th>
            <td mat-cell *matCellDef="let element">
                <a (click)="setFrlFilter(element.filename)">{{element.file}}</a>
            </td>
        </ng-container>


        <ng-container matColumnDef="freelancecode">
            <th mat-header-cell *matHeaderCellDef> Ind&eacute;pendant </th>
            <td mat-cell *matCellDef="let element">
                <a (click)="setFrlFilter(element.freelancecode)">{{element.freelancecode}}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="period">
            <th mat-header-cell *matHeaderCellDef> P&eacute;riode </th>
            <td mat-cell *matCellDef="let element">
                <a (click)="setPeriodFilter(element.period)">{{element.period}}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="reference">
            <th mat-header-cell *matHeaderCellDef> R&eacute;f&eacute;rence </th>
            <td mat-cell *matCellDef="let element">{{element.reference}}</td>
        </ng-container>

        <ng-container matColumnDef="frldisplay">
            <th mat-header-cell *matHeaderCellDef> Affich. Freelance </th>
            <td mat-cell *matCellDef="let element">{{element.frldisplay}}</td>
        </ng-container>

        <ng-container matColumnDef="sordisplay">
            <th mat-header-cell *matHeaderCellDef> Affich. SOREDI </th>
            <td mat-cell *matCellDef="let element">{{element.sordisplay}}</td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Montant </th>
            <td mat-cell *matCellDef="let element">{{element.amount}}</td>
        </ng-container>

        <ng-container matColumnDef="payamount">
            <th mat-header-cell *matHeaderCellDef> Rapproch&eacute; </th>
            <td mat-cell *matCellDef="let element">{{element.payamount}}</td>
        </ng-container>

        <ng-container matColumnDef="payed">
            <th mat-header-cell *matHeaderCellDef> Pay&eacute; </th>
            <td mat-cell *matCellDef="let element">
                <input type="checkbox" [checked]="element.payed == '1'" (click)="clicked(element.id, 'payed', element.payed)"/>
            </td>
        </ng-container>

        <ng-container matColumnDef="paydate">
            <th mat-header-cell *matHeaderCellDef> Pay&eacute; le </th>
            <td mat-cell *matCellDef="let element">{{element.paydate}}</td>
        </ng-container>

        <ng-container matColumnDef="mailtofrl">
            <th mat-header-cell *matHeaderCellDef>Mail envoy&eacute; </th>
            <td mat-cell *matCellDef="let element">
                <input type="checkbox" [checked]="element.mailtofrl == '1'" (click)="clicked(element.id, 'mailtofrl', element.mailtofrl)"/>
            </td>
        </ng-container>

        <ng-container matColumnDef="stamped">
            <th mat-header-cell *matHeaderCellDef> Tampon Papier </th>
            <td mat-cell *matCellDef="let element">
                <input type="checkbox" [checked]="element.stamped == '1'" (click)="clicked(element.id, 'stamped', element.stamped)"/>
            </td>
        </ng-container>

        <ng-container matColumnDef="estamped">
            <th mat-header-cell *matHeaderCellDef> Tampon &Eacute;lec. </th>
            <td mat-cell *matCellDef="let element">
                <input type="checkbox" [checked]="element.estamped == '1'" (click)="clicked(element.id, 'estamped', element.estamped)"/>
            </td>
        </ng-container>

        <ng-container matColumnDef="cancelled">
            <th mat-header-cell *matHeaderCellDef> Annul&eacute; </th>
            <td mat-cell *matCellDef="let element">
                <input type="checkbox" [checked]="element.cancelled == '1'" (click)="clicked(element.id, 'cancelled', element.cancelled)"/>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <a style="padding-right: 5px;" href="/freelance?id={{element.freelance}}"><i class="fas fa-user-tie"></i></a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Some margin to be sure to get the main container bottom visible -->
    <div class="vertical-spacer"></div>
</div>