<header>
    <mat-toolbar color="primary">
        <button mat-icon-button class="menu-button" (click)="sidenav.toggle();">
            <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
        </button>

        <span>Congés</span>
        <span class="spacer"></span>

        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container {{ isMenuOpen ? 'expanded' : 'shrinked' }}">
        <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav">
        <a mat-button routerLink="/activity"><mat-icon>dashboard</mat-icon> Tableau de bord</a>
        <a mat-button routerLink="/activity/vac-new" color="accent"><mat-icon>playlist_add</mat-icon> Nouvelle absence</a>
        <a mat-button routerLink="/activity/vac-list" color="accent"><mat-icon>description</mat-icon> Liste des congés </a>
        <a mat-button routerLink="/activity/vac-calendar" color="accent"><mat-icon>calendar_today</mat-icon> Calendrier</a>
    </mat-sidenav>
  </mat-sidenav-container>
</header>
