header {
    background-color: blueviolet;
    color: white;
}

.sidenav-container {
    flex: 1;
    .sidenav {
        min-width: 240px;
        a {
            display: block;
            padding: 6px 24px;
            width: 100%;
            text-align: left;
        }
    }
}

.expanded {
    height: calc(100vh - 77px);
}

.shrinked {
    height: 0px;
}