<header class="my-activity-theme">
    <mat-toolbar color="primary">
        <button mat-icon-button class="menu-button" (click)="sidenav.toggle(); andMore()">
            <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
        </button>

        <span>Activités</span>
        <span class="spacer"></span>

        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container {{ isMenuOpen ? 'expanded' : 'shrinked' }}">
        <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav">
        <a mat-button routerLink="/activity"><mat-icon>dashboard</mat-icon> Tableau de bord</a>
        <a mat-button routerLink="/activity/time" color="accent"><mat-icon>access_time</mat-icon> Saisie des temps</a>
        <a mat-button routerLink="/activity/invoice" color="accent"><mat-icon>receipt</mat-icon> Notes de frais </a>
        <a mat-button routerLink="/activity/template" color="accent"><mat-icon>palette</mat-icon> Modèles</a>
        <a mat-button routerLink="/activity/calendar" color="accent"><mat-icon>calendar_today</mat-icon> Calendrier</a>
    </mat-sidenav>
  </mat-sidenav-container>
</header>
