<mat-card>
  <mat-card-title><mat-icon class="free-icon">assignment</mat-icon>Actions attendues</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let element of actReports" routerLink="/activity/month/{{element.year}}/{{element.month}}">
        <mat-icon color="{{statusColors[element.status]}}" class="free-icon">
          {{statusIcons[element.status]}}
        </mat-icon> 
         Saisie des temps de {{monthNames[element.month-1]}} {{element.year}}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>