<header>
    <mat-toolbar color="primary">
        <button mat-icon-button class="menu-button" (click)="sidenav.toggle();">
            <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
        </button>

        <span>Moi</span>
        <span class="spacer"></span>

        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container {{ isMenuOpen ? 'expanded' : 'shrinked' }}">
        <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav">
        <a mat-button routerLink="/personal"><mat-icon>dashboard</mat-icon> Tableau de bord</a>
        <a mat-button routerLink="/personal/per-update" color="accent"><mat-icon>update</mat-icon> Modifier mes données personnelles</a>
    </mat-sidenav>
  </mat-sidenav-container>
</header>
