@import '~@angular/material/theming';
@include mat-core();

/* ======== Angular material custom themes ======== */ 
$my-custom-primary: mat-palette($mat-grey, 200);
$my-custom-accent: mat-palette($mat-pink, 100, 500, A100);
$my-custom-warn: mat-palette($mat-lime);

$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

@include angular-material-theme($my-custom-theme);

// Convert => mat-light-theme()
$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent);

// Convert to this => mat-dark-theme()
$my-custom-theme: mat-dark-theme($my-custom-primary, $my-custom-accent);

// Alternate Angular Material Theme
.my-activity-theme {
    $my-alternate-primary: mat-palette($mat-green, 700);
    $my-alternate-accent: mat-palette($mat-orange, 600);
    $my-alternate-warn: mat-palette($mat-red, 700);
  
    $my-alternate-theme: mat-light-theme($my-alternate-primary, $my-alternate-accent, $my-alternate-warn);
  
    @include angular-material-theme($my-alternate-theme);
}

  // Alternate Angular Material Theme
.my-vacation-theme {
    $my-vacation-primary: mat-palette($mat-orange, 500);
    $my-vacation-accent: mat-palette($mat-blue, 800);
    $my-vacation-warn: mat-palette($mat-red, 700);
  
    $my-vacation-theme: mat-light-theme($my-vacation-primary, $my-vacation-accent, $my-vacation-warn);
  
    @include angular-material-theme($my-vacation-theme);
}

// Alternate Angular Material Theme
.my-bo-theme {
    $my-bo-primary: mat-palette($mat-red, 200);
    $my-bo-accent: mat-palette($mat-deep-purple, 700);
    $my-bo-warn: mat-palette($mat-red, 700);
  
    $my-bo-theme: mat-light-theme($my-bo-primary, $my-bo-accent, $my-bo-warn);
  
    @include angular-material-theme($my-bo-theme);
}

// Alternate Angular Material Theme
.my-personal-theme {
    $my-personal-primary: mat-palette($mat-blue, 700);
    $my-personal-accent: mat-palette($mat-orange, 400);
    $my-personal-warn: mat-palette($mat-red, 700);
  
    $my-personal-theme: mat-light-theme($my-personal-primary, $my-personal-accent, $my-personal-warn);
  
    @include angular-material-theme($my-personal-theme);
}