@use '@angular/material' as mat;
@import '~@angular/material/theming';
@include mat.core();

/* ======== Angular material custom themes ======== */ 
$my-custom-primary: mat.define-palette(mat.$grey-palette, 200);
$my-custom-accent: mat.define-palette(mat.$pink-palette, 100, 500, A100);
$my-custom-warn: mat.define-palette(mat.$lime-palette);

$my-custom-theme: mat.define-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

@include mat.all-component-themes($my-custom-theme);

// Convert => mat-light-theme()
$my-custom-theme: mat.define-light-theme($my-custom-primary, $my-custom-accent);

// Convert to this => mat-dark-theme()
$my-custom-theme: mat.define-dark-theme($my-custom-primary, $my-custom-accent);

// Alternate Angular Material Theme
.my-activity-theme {
    $my-alternate-primary: mat.define-palette(mat.$green-palette, 700);
    $my-alternate-accent: mat.define-palette(mat.$orange-palette, 600);
    $my-alternate-warn: mat.define-palette(mat.$red-palette, 700);
  
    $my-alternate-theme: mat.define-light-theme($my-alternate-primary, $my-alternate-accent, $my-alternate-warn);
  
    @include mat.all-component-themes($my-alternate-theme);
}

  // Alternate Angular Material Theme
.my-vacation-theme {
    $my-vacation-primary: mat.define-palette(mat.$orange-palette, 500);
    $my-vacation-accent: mat.define-palette(mat.$blue-palette, 800);
    $my-vacation-warn: mat.define-palette(mat.$red-palette, 700);
  
    $my-vacation-theme: mat.define-light-theme($my-vacation-primary, $my-vacation-accent, $my-vacation-warn);
  
    @include mat.all-component-themes($my-vacation-theme);
}

// Alternate Angular Material Theme
.my-bo-theme {
    $my-bo-primary: mat.define-palette(mat.$red-palette, 200);
    $my-bo-accent: mat.define-palette(mat.$deep-purple-palette, 700);
    $my-bo-warn: mat.define-palette(mat.$red-palette, 700);
  
    $my-bo-theme: mat.define-light-theme($my-bo-primary, $my-bo-accent, $my-bo-warn);
  
    @include mat.all-component-themes($my-bo-theme);
}

// Alternate Angular Material Theme
.my-personal-theme {
    $my-personal-primary: mat.define-palette(mat.$blue-palette, 700);
    $my-personal-accent: mat.define-palette(mat.$orange-palette, 400);
    $my-personal-warn: mat.define-palette(mat.$red-palette, 700);
  
    $my-personal-theme: mat.define-light-theme($my-personal-primary, $my-personal-accent, $my-personal-warn);
  
    @include mat.all-component-themes($my-personal-theme);
}