<div id="module-choice">

    <button mat-raised-button color="primary" routerLink="/activity"><mat-icon>access_time</mat-icon><br />Activité</button>
    <button mat-raised-button color="accent" routerLink="/vacation"><mat-icon>beach_access</mat-icon><br />Congés</button>
    <button mat-raised-button color="warn" routerLink="/back-office"><mat-icon>build</mat-icon><br />Back-office</button>
    <button mat-raised-button color="" routerLink="/personal"><mat-icon>person_pin</mat-icon><br />Données personelles</button>

</div>

