<app-act-header></app-act-header>

<div id="main-container" class="my-activity-theme">

  <app-act-month-calnav
    [monthNames]="monthNames">
  </app-act-month-calnav>

  <app-act-month-summary
    [statusNames]="statusNames" 
    [statusColors]="statusColors" 
    [statusIcons]="statusIcons"
    [year]="reqyear"
    [month]="reqmonth"
    [user]="currentUser"
    [reports]="actReports"
    [report]="report">
  </app-act-month-summary>

  <app-act-month-pubholidays
    [monthNames]="monthNames">
  </app-act-month-pubholidays>

  <app-act-month-upload
    [monthNames]="monthNames" 
    [statusColors]="statusColors" 
    [statusIcons]="statusIcons"
    [dayNums]="dayNums"
    [year]="reqyear"
    [month]="reqmonth"
    [report]="report">
  </app-act-month-upload>

  <!-- Some margin to be sure to get the main container bottom visible -->
  <div class="vertical-spacer"></div>
</div>
